@font-face {
    font-family: "Courgette";
    src: url(/fonts/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: "Oswald";
    src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}


#navbar{
    color:#FFFFFF;
    font-family: "courgette";
}

#right-link{
    font-family:"oswald";
}

.container-fluid{
    padding-bottom: 2vh;
    border-bottom:1px solid gray;
}

.container-fluid>div{
    display: flex;
    flex-direction: row-reverse;
}

.header{
    min-width: 100%;
    max-width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/img/header.jpg');
    background-position: center;
}

.container{
    text-align: center;
    padding-top:5vh;
    padding-bottom:20vh;
    margin:0px auto;
}

#container-{
    text-align:center;
}

.header-title{
    font-family: "courgette";
    color:#FFFFFF;
}

.logo{
    margin-bottom:2vh;
    width:10%;
    height:10%;
}

/*-----MAIN-----*/
main{
    padding:5px;
}

main>h2{
    font-family:"Oswald";
    margin:8vh 0 5vh 0;
    text-align:center;
}

.general{
    margin:0px;
}

#da{
    display:flex;
    margin:10px auto;
}

.resto-image{
    width:230px;
    height:130px;
}

.article{
    text-align:left;
    margin:0px 0px 0px 20px;
}

.article>h3{
    font-family:"courgette";
}

.article>p{
    font-family:"oswald";
    width:90%;
}

aside{
    text-align:end;
    padding-top:10rem;
    
}
button{
    color:black;
    background-color:#FFFFFF;
    border-radius:0.41rem;
    width: 9.3rem;
    border-width:0.1rem;
    font-style:bolder;
    font-family: "oswald";
}

#cont22{
    padding:0;
}

.retour{
    display: flex;
    align-items: center;
    font-family:"oswald";
    margin-top:1em;
    color:grey;
    text-align: left;
}

.retour p{
    margin-left:5px;
}


form div {
    margin-bottom:1rem;
}
label{
    font-family:"courgette";
}

.reseaux{
    display: flex;
    justify-content: space-around;
    width: 50%;
    color:black;
}

#formulaire p{
    text-align: left;
    font-family:"courgette";
}


input{
    font-family: "oswald";
    border-color:rgb(189, 189, 189);
    border-radius:0.41rem;
    border-style: solid;
}

.form-content{
    text-align:left;
}

.form-content input{
    width:80%;
}

.form-content button{
    width:80%;
}

footer{
    background-color:black;
    color:#FFFFFF;
}

#last{
    padding:0;
}

#titremenu{
    margin:20px;
}

#menufooter h3{
    padding:0;
    font-family: "courgette";
}

#menufooter{
    text-align:left;
}

#sousmenufooter{
    text-align: left;
}

#sousmenufooter a{
    color:lightgray;
    text-align:left;
    font-family: "oswald";
}

footer h5{
    font-family: "courgette";
}

.news{
    display: flex;
    margin-top:-25px;
}

.newsletterinput{
    padding:5px;
}

.newsletterbutton{
    font-size: bold;
    background-color: black;
    color:white;
    border:1px solid white;
}

