@font-face {
    font-family: "Courgette";
    src: url(/fonts/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: "Oswald";
    src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}


#navbar{
    color:white;
    font-family: "courgette";
}

#right-link{
    font-family:"oswald";
}

.container-fluid{
    padding-bottom: 2vh;
    border-bottom:1px solid gray;
}

.container-fluid>div{
    display: flex;
    flex-direction: row-reverse;
}

.header{
    min-width: 100%;
    max-width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/img/header.jpg');
    background-position: center;
}

.container{
    text-align: center;
    padding-top:5vh;
    padding-bottom:20vh;
    margin:0px auto;
}

#container-{
    text-align:center;
}

.header-title{
    font-family: "courgette";
    color:white;
}

.logo{
    margin-bottom:2vh;
    width:10%;
    height:10%;
}

/*-----MAIN-----*/
main{
    padding:10px;
}

main>h3{
    font-family:"Oswald";
    margin:5vh 0 5vh 0;
    text-align:center;
}


#da{
    display:flex;
    background-color: green;
    margin:2em;
    padding:2em;
}

.col img{
    width:180px;
    height:100px;
}

.article>h2{
    font-family:"courgette";
}

aside{
    text-align:end;
    
}
button{
    color:white;
    border-radius:1%;
}